#game-list {
  @include linear-gradient(to bottom, #E6E6E6 0%, #E9E9E9 2%, $fallback: #E9E9E9);
  padding-top: 0.6em;

  .game {
    padding:0.4em 0.8em 0em 0.3em;
    min-height: 5em;

    vertical-align: middle;

    &:active {
      background-color: #ffffff;
    }

    .avatar {
      display:block;
      float:left;
      clear:both;
      width:3.9em;
      height:3.9em;
      background-size:100%;
      -webkit-border-radius:8em;
              border-radius:8em;
      border:solid 0.35em $orange;
    }

    .game-text {
      float:left;
      margin:1.2em 0em 0em 0.75em;

      h1 {
        color: #444444;
        font-weight: bold;
        font-size: 0.8em;
        margin:0em 0em 0em 0em;
        width:12.5em;
      }

      h2 {
        font-weight: bold;
        color: #888888;
        font-size: 0.7em;
        margin:0em 0em 0em 0em;
      }
    }

    &.new-game {

      background-color:#E9E9E9;

      &:active {
        background-color:#FFFFFF;
      }

      .game-text h1 {
        line-height: 3em;
        width:10em;
      }

      .avatar {
        display:block;
        float:left;
        clear:both;
        width:3.9em;
        height:3.9em;
        background-size:60%;
        -webkit-border-radius:8em;
                border-radius:8em;
        border:solid 0.35em $blue;
        background-color:#FFFFFF;
        background-repeat:no-repeat;
        background-position:center;

      }
    }
  }
}

.reconnect {
  position: absolute;
  bottom: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index:20;
}
