/* Colours */
$lightest: #f7f7f7;
$grey1: #EEEEEE;
$grey2: #E0E0E0;
$grey3: #C6C6C6;
$darkest: #3E3E3E;
$blue: #0B8EFD;
$red: #EC232D;
$green: #85CE24;
$red-light:#f2a4a4;
$green: #5BAB0B;
$green-light: #cbf2a4;
$gold: #F8CA29;
$orange: #ff9600;
$yellow: #F5E20C;
$purple: #7B2FE2;

$em10px: 0.200em;

$margin-sm: $em10px;
$margin-lg: $em10px*4;
